{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/suitablevacancies.css' %}" />
{% endblock %}

{% block main %}

<div class="suitablevacancies">
  <div class="page-mainheader">
    <h1>Наиболее подходящие вакансии</h1>
  </div>

  <table class="basic-table">
    <thead>
      <tr>
        <td>Вакансия</td>
        <td>Компетенции</td>
        <td>Процент перекрытия</td>
      </tr>
    </thead>

    <tbody>
      {% for item in data %}
      <tr>
        <td><a href="{% url 'display_vacancy' item.vacancy.id %}">{{ item.vacancy.title }}</a></td>
        <td>
          {% for competency in item.have %}<span class="suitablevacancies-competency-pill competency-pill-have">{{competency}}</span>{% endfor %}
          {% for competency in item.not_have %}<span class="suitablevacancies-competency-pill competency-pill-nothave">{{competency}}</span>{% endfor %}
        </td>
        <td>
          <span class="progressbar-bg {% if item.overlap >= 70 %} progressbar-green {% elif item.overlap < 80 and item.overlap > 50 %} progressbar-yellow {% else %} progressbar-red {% endif %}">
            <span class="progressbar-overlap" style="width: {{ item.overlap }}%;"></span>
            <div class="progressbar-percent-bg">
              <span class="progressbar-percent">{{ item.overlap }}</span>
            </div>
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>



{% endblock %}
